{% block content %}
    <div>
      <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend>voer hier de info van het contact dat u wilt aanpassen in</legend>
          <div>
            {{ form.naam_aanpassen.label(class="form-control-label") }}
            {{ form.naam_aanpassen(class="form-control, form-control-lg") }}
          </div>
          <div>
            {{ form.achternaam_aanpassen.label(class="form-control-label") }}
            {{ form.achternaam_aanpassen(class="form-control, form-control-lg") }}
          </div>
        </fieldset>
        <div>
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
    <div>
      <small>
        Contacten bekijken? <a class="ml-2" href="{{ url_for('bekijken') }}">klik hier</a>
        Terug naar de hoofdpagina? <a class="ml-2" href="{{ url_for('home') }}">klik hier</a>
      </small>
    </div>
{% endblock content %}
