{% block content %}
    <div>
      <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend>Join Today</legend>
          <div>
            {{ form.keuze_persoon_home.label(class="form-control-label") }}
            {{ form.keuze_persoon_home(class="form-control, form-control-lg") }}
          </div>
        </fieldset>
        <div>
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
{% endblock content %}
