<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/persoonForm" method="post">
      <div>
        <label for="naam">naam van persoon dat je wilt toevoegen:</label>
        <input type="text" id="naam_toevoegen" name="naam">
      </div>
      <div>
        <label for="achternaam">achternaam van persoon dat je wilt toevoegen:</label>
        <input type="text" id="achternaam_toevoegen" name="achternaam">
      </div>
      <div>
        <label for="tel_nummer">telefoonnummer van persoon dat je wilt toevoegen:</label>
        <input type="text" id="tel_nummer_toevoegen" name="tel_nummer">
      </div>
      <div>
        <label for="land">land van persoon dat je wilt toevoegen:</label>
        <input type="text" id="land_toevoegen" name="land">
      </div>

      <div>
        <input type="submit" value="Verzend bericht">
      </div>
    </form>
  </body>
</html>
