{% block content %}
    <div>
      <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend>voer hier de info van het contact dat u wilt toevoegen in</legend>
          <div>
            {{ form.naam_toevoegen.label(class="form-control-label") }}
            {{ form.naam_toevoegen(class="form-control, form-control-lg") }}
          </div>
          <div>
            {{ form.achternaam_toevoegen.label(class="form-control-label") }}
            {{ form.achternaam_toevoegen(class="form-control, form-control-lg") }}
          </div>
          <div>
            {{ form.tel_nummer_toevoegen.label(class="form-control-label") }}
            {{ form.tel_nummer_toevoegen(class="form-control, form-control-lg") }}
          </div>
          <div>
            {{ form.land_toevoegen.label(class="form-control-label") }}
            {{ form.land_toevoegen(class="form-control, form-control-lg") }}
          </div>
        </fieldset>
        <div>
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
    <div>
      <small>
        contacten bekijken? <a class="ml-2" href="{{ url_for('bekijken') }}">klik hier</a>
      </small>
    </div>
{% endblock content %}
